<h3><%= @job.title %></h3>
<hr>

<p><%= simple_format(@job.description) %></p>


<div class="text-center">
  <%= link_to("Upload Resume", new_job_resume_path(@job), class:"btn btn-md btn-primary") %>
</div>
